DB_URL=jdbc:mysql://172.17.0.8:3306/adhd?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=root
DB_PASSWORD='bobo@1988'

WECHAT_APP_ID=wxac37ae16250c7fbf
WECHAT_APP_SECRET=ce3cb0dd5ef177a24648f62fb9a98b0c

MODEL_BASE_URL=http://43.142.79.65:8080/v1
MODEL_API_KEY=EMPTY
MODEL_NAME='qwen3.5'
