DB_URL=jdbc:mysql://172.17.0.8:3306/adhd?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=root
DB_PASSWORD=replace-with-production-password

WECHAT_APP_ID=
WECHAT_APP_SECRET=

MODEL_BASE_URL=http://43.142.79.65:8080/v1
MODEL_API_KEY=EMPTY
MODEL_NAME=gpt-4o-mini
